@model IEnumerable<AppDePedidos.Data.Models.Restaurante>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> APP Restaurantes</h1>
    <div>
        Existem @Model.Count(), restaurantes cadastrados.
    </div>
    <br>
    @Html.ActionLink("Adicionar Restaurante", "index","Restaurants")
    
</div>

