@model AppDePedidos.Data.Models.Restaurante


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Nome</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Exibir", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Remover", "Delete", new { id = Model.Id })
    </div>

</div>
