@model IEnumerable<AppDePedidos.Data.Models.Restaurante>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>
<div class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
</div>
<br/><br/>

@foreach (var item in Model)
{
    @Html.Partial("_RestauranteSumario",item)
}

@section footer{
   <p> textos personalizados para inserior no footer.</p>
}